@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Serving is what we do best. Click to order your favorite coffee and other items.</h3>
</div>
